* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

body {
    width: 1260px;
    height: 940px;
    margin: 0;
    line-height: 1em;
}

.domain {
    height: 880px;
    width: 1264px;
    background: #EDF2C5;
}