* {
    box-sizing: border-box;
    /* 當你設定一個元素樣式為 box-sizing: border-box;，這個元素的內距和邊框將不會增加元素本身的寬度。 */
    padding: 0;
    margin: 0;
    line-height: 1em;
    text-decoration: none;
}

body{
    margin: 0;
    display: block;
    line-height: 1.15;
}

header{
    width: 1280px;
    height: 120px;
    margin: auto;
    background-color: #F5B003;
    /*display: flex;
    justify-content: center;*/
}

.logo{
    width: 220px;
    height: 100px;
    margin-left: 110px;
    margin-top: 10px;
    float: left;
}

.bar{
    padding-top:40px;
    padding-left:730px;
    display:flex;
    width:120px;
    height:40px;
}

.fb{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.itemlist_setting{
    width:140px;
    list-style-type:none;
    position:absolute;
    z-index:3;
    top:40px;
}
.listcontnet1{
    width: 40px;
    height:40px;
}
.moreItems{
    width: 40px;
    height: 40px;
}
.itemlist{
    background-color:#F4E3CE;
    visibility:hidden;
}

.listcontnet{
    padding:10px 10px;
    display:flex;
    justify-content:center;
    font-size:24px;
    font-family:Microsoft JhengHei, sans-serif;
    font-weight: bold;
    color:#000000;
}
.listcontnet:hover{
    background-color:#F5B033;
    color:#ffffff;
}

.mainDomain{
    width: 1280px;
    height: 1245px;
    margin: auto;
    background-color: rgb(238, 240, 229);
}

.mainImg{
    width: 1280px;
    height: 200px;
}

.mainCourse{
    width: 1280px;
    height: 500px;
    margin-top: 30px;
    margin-right: 110px;
}

.mainSteak{
    float: left;
    margin-left: 120px;
}

.mainCourseItems{
    float: right;
    margin-right: 98px;
}

.antipastoItems{
    float: left;
    margin-left: 120px;
}

.dessertItems{
    float: right;
    margin-right: 120px;
}

.price{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgb(189, 66, 8);
    margin: 25px 0; 
    line-height: 1.2em;
}

.mainCourseTitle{
    width: 486px;
    height: 60px;
    background-color: rgba(236, 133, 16, 0.774);
    color: #EDF2C5;
    font-family: 'Arial Black', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px 60px 20px 80px;
    /*margin: 0 0 15px 0;*/
}

.fontStyle{
    font-family: 'Georgia', 'Times New Roman', 'Times', sans-serif;
    font-size: 16px;
    color: rgb(189, 66, 8);
    margin-top: 20px;
    line-height: 1.2em;
}

.otherMeals{
    width: 1280px;
    height: 520px;
    margin-top: 0;
    margin-right: 110px;
}

footer{
    width: 1280px;
    height: 240px;
    margin: auto;
    background-color: #F5B003;
}

.hrefs{
    margin-left: 70px;
    padding-top: 20px;
    display: flex;
}

.hrefs p{
    width: 80px;
    height: 23px;
    font-family: Microsoft JhengHei;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.member{
    margin-left: 80px;
}

.info{
    width: 1140px;
    height: 100px;
    margin-left: 70px;
    margin-top: 40px;
}

.info p{
    font-family: Microsoft JhengHei;
    font-size: 20px;
    line-height: 24px;
}

.blank{
    width: 1280px;
    height: 40px;
    background-color: #FFFFFF;
    margin: auto;
}

.blank p{
    margin-left:445px;
    margin-top:12px;
}