* {
    box-sizing: border-box;
    /* 當你設定一個元素樣式為 box-sizing: border-box;，這個元素的內距和邊框將不會增加元素本身的寬度。 */
    padding: 0;
    margin: 0;
    line-height: 1em;
}

body {              /* 整個網頁頁面 */
    width: 1280px;
    height: 1653px;
    margin: 0;
    line-height: 1em;
}

.domain {
    width: 1280px;
    height: 1527px;
    background: #F2F2F2;
}