* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1em;
    text-decoration: none;
}

body{
    display: block;
    background-color: #E9E9E9;
}


.mainDomain{
    width: 1280px;
    height: 1334px;
    background-color: #D2793C;
    margin: 0 auto;
}

.top_blank {
    width: 1280px;
    height: 79.54px;
    background-color: #D2793C;
    display: block;
}

.picture_frame {
    width: 1280px;
    height: 912.5px;
    overflow: hidden;
}

.picture_position {
    width: 1280px;
    height: 912.5px;
    margin-left: -200px;
}

.foodpicture {
    width: auto;
    height: 912.5px;
}


.information_text p{
    font-family: '微軟正黑體', sans-serif;
    color: #FFFFFF;
    line-height: 1.5em;
}