* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1em;
    text-decoration: none;
}

body{
    display: block;
    background-color: #E9E9E9;
}


.mainDomain{
    width: 1280px;
    height: 1337px;
    background-color: #D2793C;
    margin: 0 auto;
    overflow: hidden;
}

.top_blank {
    width: 1280px;
    height: 80px;
    background-color: #D2793C;
    display: block;
}

.picture-area{
    width: 1280px;
    height: 914px;
    /* display:flex; */
}

.picture_frame {
    width: 1280px;
    height: 914px;
    overflow: hidden;
    /* position:absolute; */
}

.picture_position {
    width: 1280px;
    height: 914px;
    /* display:flex; */
    margin-left:200px;
    margin-top:20px;
}

.foodpicture {
    width: 1280px;
    height: auto;
    transform:scale(1.65);
}

.logo{
    position:relative;
    left:736px;
    top:-420px;
    z-index:2;
}

.logo2{
    position:relative;
    left:0;
    top:0;
    z-index:3;
    visibility:hidden;
}

.bt-info{
    display:flex;
    margin-left:97px;
    margin-top:60px;
}

.bt-flex{
    display:flex;
}

.bt{
    margin-right:75px;
}

.bt:hover{
    opacity:0.6;
}

.information_text{
    margin: auto 0;
    margin-left:130px;
}

.information_text p{
    font-family: '微軟正黑體', sans-serif;
    color: #FFFFFF;
    font-size:20px;
    line-height:28px;
}

@media screen and (max-width:768px){

    .mainDomain{
        width: 768px;
        height: 800px;
        margin: 0;
    }
    
    .top_blank {
        display: none;
    }
    
    .picture-area{
        width: 768px;
        height: 548px;
        /* display:flex; */
    }
    
    .picture_frame {
        width: 768px;
        height: 548px;
        overflow: hidden;
        /* position:absolute; */
    }
    
    .picture_position {
        width: 768px;
        height: 548px;
        /* display:flex; */
        margin-left:150px;
        margin-top:30px;
    }
    
    .foodpicture {
        width: 100%;
        height: auto;
        transform:scale(1.83);
    }
    
    .logo{
        width:230px;
        height:230px;
        position:relative;
        left:480px;
        top:-197px;
        z-index:2;
    }
    
    .bt-info{
        width:100%;
        height:252px;
        margin-left:24px;
        margin-top:0;
    }
    
    .bt{
        margin-top:24px;
        margin-right:40px;
        width:124px;
        height:124px;
    }
    
    .bt:hover{
        opacity:0.6;
    }
    
    .information_text{
        margin:60px 0;
        margin-right:20px;
    }
    
    .information_text p{
        font-family: '微軟正黑體', sans-serif;
        color: #FFFFFF;
        font-size:16px;
        line-height:28px;
    }
}

@media screen and (max-width:480px){

    .mainDomain{
        width: 480px;
        height: 700px;
        margin: 0;
    }
    .picture-area{
        width: 480px;
        height: 400px;
        /* display:flex; */
    }
    
    .picture_frame {
        width: 480px;
        height: 400px;
        overflow: hidden;
        /* position:absolute; */
    }
    
    .picture_position {
        width: 480px;
        height: 400px;
        /* display:flex; */
        margin-left:-80px;
        margin-top:45px;
    }
    
    .foodpicture {
        width: 100%;
        height: auto;
        transform:scale(2.8);
    }
    
    .logo{
        visibility:hidden;
    }

    .logo2{
        position:relative;
        width:360px;
        height:auto;
        left:60px;
        top:-420px;
        z-index:3;
        visibility:visible;
    } 
    
    .bt-info{
        width:auto;
        height:auto;
        margin: 0 40px;
        flex-direction: column;
    }
    
    .bt{
        margin-top:24px;
        margin-right:30px;
        margin-left:30px;
        width:140px;
        height:140px;
    }
    
    .bt:hover{
        opacity:0.6;
    }
    
    .information_text{
        margin:30px 0;
        padding:0 30px;
    }
    
    .information_text p{
        font-family: '微軟正黑體', sans-serif;
        color: #FFFFFF;
        font-size:12px;
        line-height:20px;
    }
}